--extra-index-url https://download.pytorch.org/whl/cpu
torch
torchvision
fastapi
uvicorn
sqlmodel
chromadb
pandas
sentence-transformers
python-multipart
pydantic-settings
openai
langchain
langchain-community
langchain-openai
python-dotenv
requests